@media all {
  body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  .card {
    display: flex;
  }
}

@media (min-width: 376px) {
  .card {
    margin: 0 10rem;
  }
}
